<?xml version="1.0" encoding="UTF-8"?>
<ProxySettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="settings.xsd">
  <user max-logins="0" name="BUENDI">
  	
    <erase-settings>
      <date>
        <from>2001-01-01</from>
        <to>2001-01-01</to>
      </date>
      <sender>sender</sender>
      <header-pattern>header-pattern</header-pattern>
      <content-type>content-type</content-type>
      <size-bytes>
        <from>0</from>
        <to>0</to>
      </size-bytes>
      <structure>structure</structure>
    </erase-settings>
    <transform-settings leet="true" rotate="true"/>
    <schedule>
      <from>2001-12-31T12:00:00</from>
      <to>2001-12-31T12:00:00</to>
    </schedule>
	
  </user>
  
  <blacklist>
    <ip>ip</ip>
  </blacklist>
  
</ProxySettings>
