<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<XMLProxySettings>
    <user max-logins="99" name="tpepdc">
        <erase-settings>
            <date>
                <from>2001-01-01</from>
                <to>2001-01-01</to>
            </date>
            <sender>sender</sender>
            <header-pattern>header-pattern</header-pattern>
            <content-type>content-type</content-type>
            <size-bytes>
                <from>0</from>
                <to>500</to>
            </size-bytes>
            <structure>structure</structure>
        </erase-settings>
        <transform-settings leet="true" rotate="true"/>
        <schedule>
            <from>0</from>
            <to>1400</to>
        </schedule>
        <server>pop.mail.yahoo.com.ar</server>
    </user>
    <user max-logins="10" name="Goku">
        <erase-settings>
            <date/>
            <size-bytes/>
        </erase-settings>
        <transform-settings leet="true"/>
        <schedule/>
    </user>
    <blacklist>
        <ip>186.136.102.62</ip>
    </blacklist>
</XMLProxySettings>
