<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<XMLProxySettings>
    <user max-logins="-1" name="borrado">
        <erase-settings>
            <structure></structure>
        </erase-settings>
        <transform-settings external="none" leet="false" rotate="false"/>
        <server>localhost</server>
    </user>
    <blacklist/>
</XMLProxySettings>
