<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<XMLProxySettings>
    <user max-logins="100" name="bar">
        <erase-settings>
            <structure></structure>
        </erase-settings>
        <transform-settings leet="true" rotate="false"/>
        <server>localhost</server>
    </user>
    <user max-logins="534" name="tpepdc">
        <erase-settings>
            <size-bytes>
                <from>255</from>
                <to>900</to>
            </size-bytes>
            <structure></structure>
        </erase-settings>
        <transform-settings leet="false" rotate="false"/>
        <server>pop.mail.yahoo.com.ar</server>
    </user>
    <user max-logins="99" name="ndamonte">
        <erase-settings>
            <date>
                <to>3000-03-03-03:00</to>
            </date>
            <size-bytes>
                <to>6000</to>
            </size-bytes>
            <structure></structure>
        </erase-settings>
        <transform-settings leet="true" rotate="false"/>
        <schedule>
            <from>0</from>
            <to>1440</to>
        </schedule>
        <server>pop3.alu.itba.edu.ar</server>
    </user>
    <user max-logins="-1" name="foo">
        <erase-settings>
            <structure></structure>
        </erase-settings>
        <transform-settings leet="false" rotate="false"/>
        <server>localhost</server>
    </user>
    <user max-logins="-1" name="borrado">
        <erase-settings>
            <date>
                <from>3000-10-10-03:00</from>
            </date>
            <date>
                <to>2010-10-10-03:00</to>
            </date>
            <date>
                <from>2011-06-05-03:00</from>
                <to>2011-06-25-03:00</to>
            </date>
            <size-bytes>
                <from>400</from>
                <to>420</to>
            </size-bytes>
            <size-bytes>
                <from>200</from>
                <to>3000000</to>
            </size-bytes>
            <size-bytes>
                <from>500</from>
                <to>50000000</to>
            </size-bytes>
            <size-bytes>
                <from>500</from>
                <to>100000000</to>
            </size-bytes>
            <structure>NOATTACH</structure>
        </erase-settings>
        <transform-settings leet="false" rotate="false"/>
        <server>localhost</server>
    </user>
    <user max-logins="-1" name="ndamote">
        <erase-settings>
            <structure></structure>
        </erase-settings>
        <transform-settings leet="false" rotate="false"/>
        <server>localhost</server>
    </user>
    <user max-logins="-1" name="pepe">
        <erase-settings>
            <structure></structure>
        </erase-settings>
        <transform-settings leet="false" rotate="false"/>
        <server>localhost</server>
    </user>
    <user max-logins="-1" name="skdjfhsdfkñh">
        <erase-settings>
            <structure></structure>
        </erase-settings>
        <transform-settings leet="false" rotate="false"/>
        <server>localhost</server>
    </user>
    <user max-logins="-1" name="zulu">
        <erase-settings>
            <structure></structure>
        </erase-settings>
        <transform-settings leet="false" rotate="false"/>
        <server>localhost</server>
    </user>
    <user max-logins="-1" name="akjasd">
        <erase-settings>
            <structure></structure>
        </erase-settings>
        <transform-settings leet="false" rotate="false"/>
        <server>localhost</server>
    </user>
    <user max-logins="-1" name="sdfsdf">
        <erase-settings>
            <structure></structure>
        </erase-settings>
        <transform-settings leet="false" rotate="false"/>
        <server>localhost</server>
    </user>
    <user max-logins="-1" name="dfjsdf">
        <erase-settings>
            <structure></structure>
        </erase-settings>
        <transform-settings leet="false" rotate="false"/>
        <server>localhost</server>
    </user>
    <user max-logins="-1" name="sjfhsdf">
        <erase-settings>
            <structure></structure>
        </erase-settings>
        <transform-settings leet="false" rotate="false"/>
        <server>localhost</server>
    </user>
    <user max-logins="-1" name="kjsfhfg">
        <erase-settings>
            <structure></structure>
        </erase-settings>
        <transform-settings leet="false" rotate="false"/>
        <server>localhost</server>
    </user>
    <user max-logins="-1" name="hola">
        <erase-settings>
            <structure></structure>
        </erase-settings>
        <transform-settings leet="false" rotate="false"/>
        <server>localhost</server>
    </user>
    <user max-logins="-1" name="pep">
        <erase-settings>
            <structure></structure>
        </erase-settings>
        <transform-settings leet="false" rotate="false"/>
        <server>localhost</server>
    </user>
    <user max-logins="-1" name="br">
        <erase-settings>
            <structure></structure>
        </erase-settings>
        <transform-settings leet="false" rotate="false"/>
        <server>localhost</server>
    </user>
    <user max-logins="-1" name="borrad">
        <erase-settings>
            <structure></structure>
        </erase-settings>
        <transform-settings leet="false" rotate="false"/>
        <server>localhost</server>
    </user>
    <blacklist/>
</XMLProxySettings>
