<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<XMLProxySettings>
    <user max-logins="100" name="bar">
        <erase-settings>
            <structure></structure>
        </erase-settings>
        <transform-settings leet="true" rotate="false"/>
        <server>localhost</server>
    </user>
    <user max-logins="-1" name="tpepdc">
        <erase-settings>
            <structure></structure>
        </erase-settings>
        <transform-settings leet="false" rotate="false"/>
        <server>pop.mail.yahoo.com.ar</server>
    </user>
    <blacklist/>
</XMLProxySettings>
